body {
    font-family: 'Quicksand';
}

.logo {
    max-width: 200px;
}

.white-text {
    color: #ffffff;
}

.search {
    border-radius: 20px;
}

.login-wrapper {
    font-size: 0.95rem;
}

.login-wrapper a {
    font-weight: bold;;
}

.intro {
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
}

.intro h1 {
    font-weight: bold;
    font-size: 45px;
}

.intro .welcome {
    font-weight: lighter;
}

/* MOVIE CARD START */
.card-content {
    display: none;
    background-color: rgba(0,0,255,0.5);
    min-height: 360px;
}

.movie-card {
    width: 100%;
    border: 7px solid;
    min-height: 360px;
    max-height: 360px;
    border-radius: 5px;
    background-size: cover;
    overflow: hidden  !important;
    position: relative;
}

.star-icon-holder {
    text-align: center !important;
    padding-top: 30px ;
    margin-bottom: 0;
}

.fa-star {
    font-size: 40px !important;
    color: yellow !important;
}

.rating,
.genre {
    font-size: 1.8rem;
    font-weight: bold;
}

.genre {
    margin: 0;
    padding:0;
    line-height: 1.8rem;
}

.details-btn {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1rem;
}

/* .hd-sticker {
    background-color: #000000;
    color:#ffffff;
    font-size: 1rem;
    -ms-transform: rotate(-40deg); 
    transform: rotate(-40deg); 
    width: 200px;
    position: absolute;
    top: 10px;
    right: 80px;
} */

.card-holder {
    overflow: hidden;
}

.movie-card-title {
    text-align: center !important;
    margin-bottom: 15px;
    cursor: pointer;
}
/* MOVIE CARD END */


/* DETAILS START */

#details-body {   
    
    background-color: #2e3131; 
}

.top-divs{
    width: 100%;
    min-height: 600px;
    background-color: #2e3131; 
}

.top-divs,
#details-content {
    
    position: absolute;
    top:60px;
}

#image-holder {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #2e3131; 
    z-index: -2;
}

#details-overlay {
    z-index: -1;
    opacity: 0.8;
}   

#details-content {
    z-index: 122221;
    padding: 60px 80px;
}

#movie-image-holder {
    border: 8px solid #ffffff;
    border-radius: 2px;
}
#movie-image {
    max-width: 100%;
}

#download-btn {
    width: 100%;
    margin-top: 10px
}

.suggestion img {
    max-width: 100%;
}
.suggestion {
    margin-bottom: 35px;
    border: 5px solid #ffffff;
    border-radius: 2px;
}

#suggestion-wrapper h5,
#main-content {
    color: #ffffff;
}

#movie-title {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 15px;
}

#main-content {
    padding: 0px 30px;
}

#movie-genres {
    font-weight: bold;
}

.movie-image img {
    width: 100%!important;
    max-height: 180px;
}

.torrent-card {
    text-align: center !important;
}

.torrent-size {
    font-weight: bold;
}

.torrent-type {
    font-weight: bold;
}

.modal-header {
    border: none;
    text-align: center !important;
}

.title {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

.border-right {
    border-right: 1px solid #000000;
}

/* DETAILS END */


/* BROWSE START */

.bg-black {
    background-color: #171717;
}

label {
    color: white;
}

.form-wrapper {
    padding: 40px 20px;
}

#submitBtn {
    margin-top: 32px;
    padding-left: 30px;
    padding-right: 30px;
}

#countWrapper {
    text-align: center;
    color: #ffffff;    
    padding: 20px;
}

.paginatorWrapper {
    text-align: center;
    padding: 30px;
}

.pagination-buttons {
    border: 1px double #ffffff !important;
    color: #ffffff !important;
}

#pagination-top,
#pagination-bottom {
    display: inline-block;
}

.active-button {
    background-color: #28a745 !important;
    color: #ffffff;
}
/* BROWSE END */